.container{
    max-width: 968px;
    margin-left: $mb-1-5;
    margin-right: $mb-1-5;
}

@media screen and (min-width: 1024px) {

        .container{
        max-width: 1250px;
        margin: 0 auto;
   }
}